body{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    min-width: 100vh;
}

.divPadding{
    padding: 20px;
}
#gameOver{
    font-size: 100px;
}
#finalScore{
    font-size: 50px;
}

#mainMenu{
    width: 100%;
    padding: 30px; 
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Times New Roman, serif;
}

#mainMenu:hover{
    background-color: #0056b3;
}