body {
    display: grid;
    grid-template-columns: auto 1fr; /* Leaderboard left, main content center */
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}


#leaderboard {
    align-self: start;
    justify-self: start;
    list-style-type: none;
    font-size: xx-large;
}



.mainContent {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}


.header {
    font-weight: bold;
    color: black;
    font-size: xx-large;
    text-align: center;
}

.playBtn, .rulesBtn {
    text-align: center;
}

#playBtn, #rulesBtn, #optionsBtn{
    display: inline-block;
    width: 100%;
    padding: 15px 20px; 
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    font-family: Times New Roman, serif;
}

#playBtn:hover, #rulesBtn:hover,#optionsBtn:hover {
    background-color: #0056b3;
}


.pokemonImgContainer {
    text-align: center;
    width: 678.84px; 
    height: 300px; 
}

.pokemonImg{
    text-align: center;
    height: 300px;
    width: 300px;
}

/* Media Query for Height Adjustments */
@media (max-height: 800px) {
    body {
        row-gap: 4vh; 
        padding: 1.5vh; 
    }

    .header {
        font-size: 4vh; 
    }
}

@media (max-height: 600px) {
    body {
        row-gap: 3vh; 
        padding: 1vh;
    }

    .header {
        font-size: 3vh; 
    }
}