.mainElements{
   display: grid;
   justify-content: center;
   row-gap: 50px;
}

#genForm{
    display: grid;
    row-gap: 10px;
    font-size: 60px;
    font-weight: bold;
}
.genCheckbox {
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    font-family: "Times New Roman", serif;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#submitBtn{
    width: 100%;
    padding: 30px; 
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Times New Roman, serif;
}

#backBtn{
    display: inline-block;
    width: 10%;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    position: fixed;
    bottom: 10px;
    font-family: Times New Roman, serif;
}
#backBtn:hover, #submitBtn:hover, .genCheckbox:hover{
    background-color: #0056b3;
}